/**
 * Basic typography style for copy text
 */

body {
  font-family: 'JetBrains Mono', monospace;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
