// Color Variables
$primary: #282c34;
$primary-dark: #21252b;
$primary-light: #414854;

$light: rgba(227, 227, 227, 0.6);
$accent-1: #e8a12e;
$accent-2: #b35a5a;
$accent-3: #a15baf;
$accent-4: #5bc36c;
$accent-5: #3477c4;

// Transition Variables
$transition-speed: 600ms;

$border-radius: 0.25rem;

$box-shadow: rgba(40, 40, 40, 0.4) 0px 2px 8px 0px;
