.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $jatbrains-mono;
  font-size: 0.9rem;
  font-weight: 900;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $transition-speed;
  box-shadow: rgba(40, 40, 40, 0.4) 0px 2px 8px 0px;
  filter: opacity(0.7);
  &:hover {
    filter: opacity(1);
  }
}

.btn-width {
  margin: 1rem 0;
  width: 100%;
}

.btn-primary {
  color: $light;
  background-color: $primary-light;
  &:hover {
    outline: none;
    background-color: $light;
    color: $primary-dark;
  }
}

.btn-light {
  color: $primary-dark;
  background-color: $light;
  &:hover {
    background-color: $primary-light;
    color: $light;
  }
}

.btn-yellow {
  background-color: $accent-1;
  color: $primary-dark;
}

.btn-red {
  background-color: $accent-2;
  color: $primary-dark;
}

.btn-purple {
  background-color: $accent-3;
  color: $primary-dark;
}

.btn-green {
  background-color: $accent-4;
  color: $primary-dark;
}

.btn-blue {
  background-color: $accent-5;
  color: $primary-dark;
}

.btn-link {
  margin: 1rem 0;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: $transition-speed;
}

.btn-link-yellow {
  color: $accent-1;
  filter: opacity(0.7);
  &:hover {
    filter: opacity(1);
  }
}
